<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<h1>Payment gateway out</h1>

<small>This page should cointans only a single submit button.</small>

<form method="post" action="https://ssl.dotpay.pl/pay.php?dotpay_request={{dotpay_request.pk}}">
    {{ form.as_ul }}
    <input type="submit">
</form>

</body>
</html>